

// Neutral Backgrounds

$galactic-void: #100E2B;

$galactic-mist: #E8E8FA;

$lunar-ash: #CFCBD6;

$cream-puff: #ffdda9;

/**** Backgrounds ****/

$cosmic-void: #100E2B;

$starry-night: #1B244D;

$twilight-blue: #272B4F;

$midnight-purple: #301934;

$pitch-black: #000103;

/**** Vibrant Colors ****/

$vivid-purple: #B24CD8;

$bright-blue: #4D94FF;

$electric-teal: #00F6FF;

$neon-pink: #FF61F6;

$fiery-red: #FF2400;

$radiant-yellow: #FFEA00;

$sunset-green: #A8FF78;

$dazzling-orange: #FFBE69;

/**** Pastel Colors ****/

$sunbeam-yellow: #FFFEA1;

$lime-green: #CCFFCC;

$orange-sherbet: #FFEAB8;

$mint: #DEFBDE;

$lemon: #FDFFB8;

$tea-green: #D1FFD7;

$peach: #FFE4C0;

/**** Iridescent Shines ****/

$prismatic-rainbow: #BCE7FD;

$crystal-sparkle: #E8F6FA;

$fawn: #FFB96D;

$dusty-pink: #FAACA8;

$periwinkle: #BFDADc;

$lemon-zest: #F4E285;

$mauve: #EA97D3;

$seafoam: #C2E7DA;

/**** Accents & Highlights ****/

$solar-flare: #FF4E4E;

$celestial-glow: #FAFFF2;

$nova-burst: #FFFF7C;

$Milky-White: #FFFFFF;

$crystal-honeydew: #f0fff0;

$mint-leaf: #98fb98;

$peach-blossom: #ffdab9;

$lemon-chiffon: #fffacd;

$sky-blue: #87ceeb;

$blush-pink: #ffc0cb;

$buttercup: #fce883;

$cotton-candy: #ffb7d5;

$clay-pot: #cba135;

$moss-green: #addfad;

$storm-cloud: #a9a9a9;

$plum-jam: #bb3385;

$cocoa-bean: #d2691e;

$dove-feather: #c0c0c0;

$wispy-white: #f8f8ff;

$ash-grey: #b2beb5;

// Main Accents (Vivid Neons)

$vivid-purple: #B24CD8;

$bright-blue: #4D94FF;

$electric-teal: #00F6FF;

$neon-pink: #FF61F6;

// Secondary Accents (Vibrant Primaries)

$cosmic-purple: #B892FF;

$galactic-blue: #B9D9FD;

$neon-teal: #B2FEEE;

$cotton-floss: #F4ACF9;

// Iridescent Pastels

$opal: #EBEFFA;

$pearl: #FFFEF8;

$lavender-mist: #e6e6fa;

$robins-egg: #1ac0c6;

// Vibrant Highlights

$celestial-glow: #FAFFF2;

$cosmic-glow: #FFEEF5;

$nebula-spark: #FFF2AA;


// Additional Pastels

$lavender: #E5CFFF;

$sky: #BBD9FF;

$mint: #DEFBDE;

$carnation-pink: #FFC0E4;

$sunbeam-yellow: #FFFEA1;

$lime-green: #CCFFCC;

$orange-sherbet: #FFEAB8;

// Metallic Shimmers

$rose-luster: #FFC3D0;

$silver-shimmer: #ECECEC;

$golden-glimmer: #FFDF8F;

$bronze-gleam: #CD7F32;

$prismatic-rainbow: #BCE7FD;
